{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="{% static '/css/style.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Registration</title>
    </head>
    
<body>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Subscribe our Newsletter</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Subscribe to our mailing list to get the latest updates straight in your inbox.</p>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email Address">
                        </div>
                        <button type="submit" class="btn btn-primary">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>




     <!--Registration Form-->
     <div class="container">
        <div class="row justify-content-center align-items-center inner-row">
         <div class="col-lg-5 col-md-7">
             <div class="form-box registration-form p-5">
                 <div class="form-title">
                     <h4 class="mb-3 text-center">Create your account</h4>
                 </div>
                 <form method="POST" >
                    {% csrf_token %}
                     <div class="form-floating mb-2">
                            {{form.username}}
                         <label for="floatingInput">School ID No.</label>
                     </div>
                     <div class="form-floating mb-2">
                            {{form.email}}
                         <label for="floatingInput">Email</label>
                     </div>
                     <div class="form-floating mb-2 ">
                            {{form.password1}}
                         <label for="floatingPassword">Password</label>
                     </div>
                     <div class="form-floating mb-2 ">
                            {{form.password2}}
                         <label for="floatingPassword">Confirm Password</label>
                     </div>
                     <div class="form-group">
                         <div class="d-grid gap-1">
                            
                            <!-- Button trigger modal -->
                            <input type="submit" class="btn btn-dark" >
                            
                        <!-- Modal -->
  
                         </div>
                     </div>
                     <div class="d-grid gap-1">
                        <a class="p-0  border-0 bg-transparent mt-3 btn-dark text-decoration-none text-center" href="{% url 'loginPage'%}">Cancel</a>
                     </div>    
                 </form>
             </div>
         </div>
     </div>
 </div>
         <!--End of registration Form-->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--   <script>
            $(document).ready(function(){
                $("#myModal").modal('show');
                $(".close").click(function(){
                  $("#myModal").modal('hide');
                })
            });

        </script> --> 
    </body>
</html>