{% load static %}
<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>View Student</title>
  </head>
  
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-light bg-light shadow bg-body rounded">
      <div class="container-fluid">
        <a class="navbar-brand">Student Advising</a>
        
        <a class="btn btn-success" type="button" href="{% url 'checklist' %}">Course Checklist</a>
      </div>
    </nav>
  <!--Side bar-->
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-md-block sidebar collapse bg-light shadow-sm" style="height: 100%;">
                <div class="d-flex flex-column position-sticky pt-4" style="height:90vh;" >
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="{% url 'adviserprof' %}" class="nav-link text-dark shadow-sm mt-1 rounded">Adviser Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'viewstudent' %}" class="nav-link text-white shadow-sm mt-1 rounded" style="background: #198754;" aria-current="page">View Student</a>              
                        </li>
                      <!-- <li>
                            <a href="a_studentadvising.html" class="nav-link text-dark shadow-sm mt-1 bg-body rounded">Student Advising</a>
                        </li>--> 
                        <li>
                            <a href="{% url 'logout' %}" class="nav-link text-dark shadow-sm mt-1 bg-body rounded">Logout</a>
                        </li>
                    </ul>
              </div> 
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-5" style="overflow-y: auto; margin-top: 2.5vh;">
              <div class="row">
                <div class="col-md-11">
                    <div class="card shadow mt-3">
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Student Number</th>
                                    <th scope="col">Course</th>
                                    <th scope="col">Year Level</th>
                                    <th scope="col">Last Name, First Name Middle Name</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Information</th>
                                  </tr>
                                </thead>
                                <tbody>
                                 
                                  {% for profs in studentprofs%}
                                    {% if adviserprof.adviser_handle == 1 %}
                                        {% if profs.user_yrandsec == '101' or profs.user_yrandsec == '102' %}
                                        <tr>
                                          <th scope="row">{{profs.user}}</th>
                                          <td>BSInfoTech</td>
                                          <td>{{profs.user_yrandsec}}</td>
                                          <td class="text-transform: uppercase;">{{profs.user_lname}}, {{profs.user_fname}} {{profs.user_mname}}</td>
                                          <td>REGULAR</td>
                                          <td class="text-success"> <a href="{% url 'studentinfo' profs.user %}" class="text-decoration-none text-success"> VIEW</a></td>
                                        </tr>
                                        {% endif %}
                                      {% endif %}
                                      {% if adviserprof.adviser_handle == 2 %}
                                        {% if profs.user_yrandsec == '201' or profs.user_yrandsec == '202' or profs.user_yrandsec == '203' %}
                                        <tr>
                                          <th scope="row">{{profs.user}}</th>
                                          <td>BSInfoTech</td>
                                          <td>{{profs.user_yrandsec}}</td>
                                          <td class="text-transform: uppercase;">{{profs.user_lname}}, {{profs.user_fname}} {{profs.user_mname}}</td>
                                          <td>REGULAR</td>
                                          <td class="text-success"> <a href="{% url 'studentinfo' profs.user %}" class="text-decoration-none text-success"> VIEW</a></td>
                                        </tr>
                                        {% endif %}
                                      {% endif %}
                                      {% if adviserprof.adviser_handle == 3 %}
                                        {% if profs.user_yrandsec == '301' or profs.user_yrandsec == '302' %}
                                        <tr>
                                          <th scope="row">{{profs.user}}</th>
                                          <td>BSInfoTech</td>
                                          <td>{{profs.user_yrandsec}}</td>
                                          <td class="text-transform: uppercase;">{{profs.user_lname}}, {{profs.user_fname}} {{profs.user_mname}}</td>
                                          <td>REGULAR</td>
                                          <td class="text-success"> <a href="{% url 'studentinfo' profs.user %}" class="text-decoration-none text-success"> VIEW</a></td>
                                        </tr>
                                        {% endif %}
                                      {% endif %}
                                      {% if adviserprof.adviser_handle == 4 %}
                                        {% if profs.user_yrandsec == '401' or profs.user_yrandsec == '402' %}
                                        <tr>
                                          <th scope="row">{{profs.user}}</th>
                                          <td>BSInfoTech</td>
                                          <td>{{profs.user_yrandsec}}</td>
                                          <td class="text-transform: uppercase;">{{profs.user_lname}}, {{profs.user_fname}} {{profs.user_mname}}</td>
                                          <td>REGULAR</td>
                                          <td class="text-success"> <a href="{% url 'studentinfo' profs.user %}" class="text-decoration-none text-success"> VIEW</a></td>
                                        </tr>
                                        {% endif %}
                                      {% endif %}
                                  {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              </div>
            </main>
     
 
    </div>
</div>

  <div class="bg-success text-white">
      <text> Copyright 2022. All Rights Reserved </text> 
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  
  </body>
</html>